.container1
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 15%;
    padding: 10px 10px;  
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: space-between;
    background-color:  rgba(249, 249, 250, 0.879);
}

.general
{
    color: grey;
    font-size: x-small;
}

.project
{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 20px;
}

.project_icon
{
   margin-right: 15px;
}

.setting
{
    margin-left: -40px;
}