.profile_container
{
    display: flex;
    margin-Left: 250px;
}

.profile
{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ed1de;
    margin-right: 8px;
}

.addprofile
{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #051a78;
}