.searchbar_container
{
    height: 35px;
    width: 400px;
    /* margin-left: 20px;     */
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.remainder_container
{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: -120px;  
}
@media screen and (max-width:1441px) {
    .remainder_container
    {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        border-radius: 5px;
        margin-left: -130px;  
    }
}
@media screen and (max-width:1270px) {
    .remainder_container
    {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        border-radius: 5px;
        margin-left: -70px;  
    }
}
@media screen and (max-width:1204px) {
    .remainder_container
    {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        border-radius: 5px;
        margin-left: 0px;  
    }
    .searchbar_container
    {
        height: 35px;
        width: 400px;
        margin-left: 100px;    
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:1171px) {
    .remainder_container
    {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        border-radius: 5px;
        margin-left: 0px;  
    }
    .searchbar_container
    {
        height: 35px;
        width: 400px;
        margin-left: 140px;    
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:1113px) {
    .remainder_container
    {
        height: 35px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        border-radius: 5px;
        margin-left: 10px;  
    }
    .searchbar_container
    {
        height: 35px;
        width: 800px;
        margin-left: 100px;    
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 770px) 
{
  .searchbar_container {
    width: 50%;
    margin-left: 20px;
  }
  .remainder_container {
    width: 50px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 700px) 
{
  .searchbar_container {
    width: 40%;
    margin-left: 20px;
  }
  .remainder_container {
    width: 40px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 600px) 
{
  .searchbar_container {
    width: 30%;
    margin-left: 20px;
  }
  .remainder_container {
    /* width: 25px; */
    margin-left: -10px;
  }
}
@media screen and (max-width: 600px) 
{
  .searchbar_container {
    width: 30%;
    margin-left: -5px;
  }
  .remainder_container {
    /* width: 25px; */
    margin-left: -10px;
  }
}
@media screen and (max-width: 450px) 
{
  .searchbar_container {
    width: 40%;
    margin-left: 20px;
    margin-top: 50px;
  }
  .remainder_container {
    /* width: 25px; */
    margin-top: 50px;
    margin-left: -30px;
  }
}
@media screen and (max-width: 382px) 
{
  .searchbar_container {
    width: 50%;
    margin-left: 20px;
    margin-top: 50px;
  }
  .remainder_container {
    /* width: 25px; */
    margin-top: 50px;
    margin-left: -5px;
  }
}
.search_icon
{
    margin-Left: 15px;
}

.remainder_icon
{
    margin-Left: 0px;
}

.searchbar_content
{
    color: grey;
    margin-left: 10px;
    font-size: small;
}